<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">Description: {{description}}</p>
                    <p class="card-text">Created by: {{User.username}}</p>
                    <p class="card-text">Start Time: {{start_time}}</p>
                    <p class="card-text">End Time: {{end_time}}</p>
                    <p class="card-text">Location: {{location}}</p>
                    <button class="btn btn-primary" id="invite">+ Invite</button>
                </div>
            </div>
        </div>
    </div>
</div>