<div class=""></div>
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}}</p>
    <p>{{time}}</p>
    <p>{{duration}}</p>
    <p>{{location}}</p>
    <button class="btn btn-primary" id="invite">+ Invite</button>