<div class="new-event-form">
    <div class="mb-3">
        <label for="event-title" class="form-label">Event Title</label>
        <input type="text" class="form-control" id="event-title" required>
    </div>
    <div class="mb-3">
        <label for="event-description" class="form-label">Description</label>
        <textarea class="form-control" id="event-description" rows="3" required></textarea>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="event-date" class="form-label">Date</label>
            <input type="date" class="form-control" id="event-date" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="event-location" class="form-label">Location</label>
            <input type="text" class="form-control" id="event-location" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="start-time" class="form-label">Start Time</label>
            <input type="time" class="form-control" id="start-time" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="end-time" class="form-label">End Time</label>
            <input type="time" class="form-control" id="end-time" required>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="event-submit">Submit</button>
    </div>
</div>

<div class="event-list">
    {{#each user.Events}}
    <div class="event-card">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Date: {{date}}</p>
        <p>Location: {{location}}</p>
        <p>Start Time: {{start_time}}</p>
        <p>End Time: {{end_time}}</p>
        <button class="delete-event-btn" data-id="{{id}}">Delete Event</button>
    </div>
    {{/each}}
</div>

<script src="./js/profile.js"></script>